.consulta{
	width: 100%	
}
.consulta th{
	text-align: left;
}
.consulta tr{
	text-align: left;
	padding: 1%;

}
.consulta td{
	text-align: left;
	padding: 0.5%;,
	font-size: 10px;
}
.consulta td, th{
	border-bottom: 1px solid #ddd;}

.consulta tr:hover {
	background-color: #1B75BB;
	color: white;
}

.consulta tr td img{
	margin-right: 5%;: 
}

.search {
	height: 10vh;
}
.search input {
	outline: none;
}
.search input {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button {
	display: none; 
}


.search input{
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.search input:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


.search input:-moz-placeholder {
	color: #999;
}
.search input::-webkit-input-placeholder {
	color: #999;
}
