.consulta{
	width: 100%	
}
.consulta th{
	text-align: left;
}
.consulta tr{
	text-align: left;
	padding: 1%;

}
.consulta td{
	text-align: left;
	padding: 0.5%;,
	font-size: 10px;
}
.consulta td, th{
	border-bottom: 1px solid #ddd;}

/*.consulta tr:hover {
	background-color: #1B75BB;
	color: white;
}*/

.consulta tr td img{
	margin-right: 5%;: 
}

.search {
	height: 10vh;
	width: 40%;
}
.search input {
	outline: none;
}
.search input {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button {
	display: none; 
}


.search input{
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.search input:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


.search input:-moz-placeholder {
	color: #999;
}
.search input::-webkit-input-placeholder {
	color: #999;
}


.telaLembretes{
	width: 96%;
	height: 95vh;
	margin:0.5% 2%;
	text-align: left;
	padding: 1%;
	float: left;
	overflow: hidden;


}
.listaAtividades{
	float: left;
	width: 33.33%;
	height: 100%;
	border-right: solid 0.1vw gray;
	padding: 1% 1.5%;	

	/*overflow-y: scroll;*/
}
 #depoisAmanha {
	border-right: solid 0px ;
	
	/*overflow-y: scroll;*/
}
#maior{
	width: 35%;
	vertical-align: top;

}


#peq{
	width: 20%;
	vertical-align: top;
}

.consultarAtividade{
	width: 100%;
	font-size: 12px;
	vertical-align: text-top;

}
.consultarAtividade tr{
		vertical-align: text-top;
}

.consultarAtividade img{
	width: 25%;
}
.consultarAtividade td #dialog-link{
 width: 100%;
 height: 3.5vh;

}

.consultarAtividade #checkAtiv{
	padding-left: 3%;
	width: 30%;
	height: 3vh;
}